<template>
  <div id="app">
    <v-app>
      <v-main>

        <v-container>
			<v-row no-gutters>
				<v-col md="6">
                <div>
                        <v-text-field label="Name of your relm" hide-details="auto"></v-text-field>
						<v-text-field :rules="rules"></v-text-field>
                  </div>
            </v-col>
            <v-col md="6">
              
            </v-col>
          </v-row> 
      </v-container>
        
           
            
      </v-main>
    </v-app>
  </div>
</template>

<script>
import compHeader from "./components/Header";

export default {
  data() {
    return {	
		 rules: [
        	value => !!value || 'Required.',
        	value => (value || '').length <= 20 || 'Max 20 characters',
        	value => {
          const pattern = /^[a-zA-Z0-9]{4,10}$/
          return pattern.test(value) || 'No valid name'
        },
      ],
    };
  },
  components: {
    compHeader,
  },

  created() {
    // Connect
    let ws = new WebSocket("wss://where.wealgo.org/signalling/foo");

    // Returns stats response. Note that this will include us in room foo
    // as we are connected
    ws.onmessage = (ev) => {
      //console.log("d", ev.data);

      let data = JSON.parse(ev.data);

      if (data.command !== "stats") {
        return;
      } else {
        //store_and_render(data.stats);
        this.wsData = data.rooms;
        console.log(" wsData: ", this.wsData);
        ws.close();
      }
    };

    // Stats request on open
    ws.onopen = () => {
      ws.send(JSON.stringify({ command: "stats" }));
    };
  },
};
</script>
