<template>
  <div>
    <h1>Composer</h1>
    <v-btn @click="number++">{{ number }}</v-btn>

  </div>
</template>

<script>
export default {
  name: "compheader",
  data() {
    return {
      number: 1,
    };
  },
};
</script>
