// main: ../main.scss
/*===================
_hamburger.scss
===================*/

$bar-width: 18px;
$bar-height: 1px;
$bar-spacing: 6px;

.hamburger-outer {
  width: $bar-width;
  height: $bar-height + $bar-spacing * 2;
  cursor: pointer;
  position: relative;
  left: 0;
  top: 0;
  z-index: 100;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: $bar-width;
  height: $bar-height;
}

.hamburger-inner {
  position: relative;
  transform: translateY($bar-spacing);
  background: $color-primary;
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.hamburger-inner:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: $color-primary;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-inner:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: $color-primary;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-inner.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-inner.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.template-home {
  .hamburger-inner {
    background: #fff;
    &.animate {
      background: rgba(255, 255, 255, 0);
    }
  }

  .hamburger-inner:before {
    background: #fff;
  }

  .hamburger-inner:after {
    background: #fff;
  }
}
