// main: ../main.scss
/*===================
_header.scss
===================*/
// hide masthead on homepage
body.home .masthead {
  display: none;
}


header {
  // height: 76px;
  width: 100%;
  display: grid;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  grid-template-columns: 32px auto 32px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: fixed;
  // background-color: var(--bg-color);
  left: 0;
  top: 0;
  z-index: 4;
  // background-color: #f90; // temp for testing

  h2 {
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: $wealgoBlue;
  }
  a:hover {
    color: $wealgoBlue;
    text-decoration: none;
  }

  .masthead {
    text-align: left;
    margin-top: -8px;

    h2 {
      font-size: 22px;
      font-weight: 300;
    }
  }

  .languageSwitch {
    font-size: $xs;
    text-align: right;
    padding-right: 12px;
    line-height: 24px;

    span.active {
      color: $red;
    }

  }

  .hamburger {
    text-align: left;
  }

   &.nav-up {
     top: -100px;
   }


  // @include tablet {
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }



  // switch night Mode
  .nightmode {
    text-align: right;
  }

  .theme-switch {
    position: relative;
  }

  .theme-switch input {
    display:none;
  }

  .theme-switch input + span {
    width: 24px;
    height: 24px;
    background-image: url('/site/assets/logos/nightmode_night.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  input:checked + span {
    width: 24px;
    height: 24px;
    background-image: url('/site/assets/logos/nightmode_day.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }




}
