// main: ../main.scss
/*===================
_menu.scss
===================*/

// menu
.menu-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: var(--bg-color-rgba);
  transition: all .2s;
  left: -100vw;
  z-index: 3;

  .hover:hover {
    cursor: pointer;
  }

  &.open {
    left: 0vw;

  }

  nav {
    height: calc(100vh - 92px); // padding 16px + 76px height
    height: calc((var(--vh, 1vh) * 100) - 92px);
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    overflow-y: scroll;
    width: 100vw;
    max-width: 520px;
    position: absolute;
    left: 0;
    top: 76px;
    transition: all .2s;

    @include tablet {
      padding-left: 0;
      padding-right: 0;
      left: calc((100vw - 520px) /2 );
    }

    ul {
      position: relative;
    }


    li {
      padding: 6px 0;

      &.active {
        color: $red;
      }

      span {
        float: right;
        padding-top: 10px;
      }
    }

    ul.footer {
        position: absolute;
        bottom: 56px;

        li {
          margin-bottom: 0;
        }

      }

  } // nav

} // .menu-wrapper
