// main: ../main.scss
/*===================
VARIABLES
===================*/
$color-white: #ffffff;
$color-white-offset: #f4f4f4;
$color-black: #000000;
$color-black-offset: #161625;
$color-primary: #00a0ff;
$color-secondary: #0868a7;
$color-highlight: #ee220c;
$color-warning: #ff5252;
$color-disabled: #aaa;

// SFG colors added
$bgLightGrey: #f5f5f5;
$bgLightGreyAlpha: rgba(245,245,245,.94);
$bgDarkGrey: #161625;
$bgDarkGreyAlpha: rgba(22,22,37,.9);
$wealgoBlue: #00a0ff;
$wealgoBlueAlpha: rgba(0, 160, 255, 0.6);
$wealgoBlueLowLight: #196aa6;
$wealgoNightBlue: #01304c;
$wealgoNightWhite: #fdfdfd;
$red: #ff0000;

$wealgoRed: #ff0000;
$wealgoOrange: #ff8d00;
$wealgoYellow: #ffff00;
$wealgoGreen: #00ff00;
$wealgoBlue: #00a0ff;
$wealgoPurple: #c700c7;
$wealgoBrown: #932e00;
$wealgoGrey: #b3b3b3;
$wealgoWhite: #ffffff;
$wealgoBlack: #000000;

// base margin
$base-margin: 1.2rem;

// Font-Size
$base-font-size: 124%;

// Line-Height
$base-line-height: 1.4;

// font-sizes
$xxl: calc(#{$base-font-size} * 2);
$xl: calc(#{$base-font-size} * 1.8);
$l: calc(#{$base-font-size} * 1.4);
$mplus: calc(#{$base-font-size} * 1.2);
$m: calc(#{$base-font-size} * 1);
$smll: calc(#{$base-font-size} * .70);
$xs: calc(#{$base-font-size} * .46);

// line-heights
$lh_xxl: calc(#{$xxl} * 1.2);
$lh_xl: calc(#{$xl} * 1.2);
$lh_l: calc(#{$l} * 1.2);
$lh_m: calc(#{$m} * 1.2);
$lh_smll: calc(#{$smll} * 1.2);
$lh_xs: calc(#{$xs} * 1.2);


// header-height
$header-height: 80px;


.lh-xs {
  line-height: calc(#{$xs} * 1.2); //.8rem
}
.lh-smll {
  line-height: calc(#{$smll} * 1.2); //.8rem
}
.lh-m {
  line-height: calc(#{$m} * 1.2); //.8rem
}
.lh-l {
  line-height: calc(#{$l} * 1.2); //.8rem
}
.lh-xl {
  line-height: calc(#{$xl} * 1.2); //.8rem
}
.lh-xxl {
  line-height: calc(#{$xxl} * 1.2); //.8rem
}

// on body
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
