<template>
    <div>
        <RoomComposer msg="Realm creator" />
    </div>
</template>

<script>
// @ is an alias to /src
import RoomComposer from '@/components/RoomComposer.vue'

export default {
    name: 'Compose',
    components: {
        RoomComposer,
    },
}
</script>
