<template>
    <div>
        <h1>Rooms</h1>
        <RoomList msg="Room pass prop test" />
    </div>
</template>

<script>
import RoomList from '@/components/RoomList.vue'

export default {
    name: 'Rooms',
    components: {
        RoomList,
    },
}
</script>

<style scoped lang="scss"></style>
