<template>
  <div>
    <div class="canvas_container">
      <canvas
          class="canvas-avatar"
          ref="avatarCanvas"
          width="1200"
          height="900"
      ></canvas>
    </div>
  </div>
</template>

<script>
import { Regions } from "../../../js/regions";

export default {
  name: "Avatar",
  data() {
    return {
      regionColoring: null,
      points: [

        {x: 669, y: 414},
        {x: 670, y: 446},
        {x: 670, y: 479},
        {x: 662, y: 510},
        {x: 649, y: 540},
        {x: 628, y: 563},
        {x: 597, y: 581},
        {x: 560, y: 592},
        {x: 526, y: 592},
        {x: 489, y: 589},
        {x: 452, y: 581},
        {x: 420, y: 567},
        {x: 405, y: 541},
        {x: 393, y: 512},
        {x: 390, y: 479},
        {x: 386, y: 449},
        {x: 385, y: 419},
        {x: 642, y: 340},
        {x: 632, y: 319},
        {x: 606, y: 306},
        {x: 570, y: 305},
        {x: 542, y: 313},
        {x: 509, y: 315},
        {x: 483, y: 308},
        {x: 455, y: 313},
        {x: 431, y: 327},
        {x: 417, y: 353},
        {x: 524, y: 339},
        {x: 524, y: 357},
        {x: 522, y: 372},
        {x: 521, y: 387},
        {x: 558, y: 428},
        {x: 541, y: 429},
        {x: 526, y: 430},
        {x: 510, y: 428},
        {x: 496, y: 428},
        {x: 617, y: 362},
        {x: 604, y: 350},
        {x: 586, y: 348},
        {x: 569, y: 359},
        {x: 585, y: 362},
        {x: 604, y: 364},
        {x: 490, y: 362},
        {x: 472, y: 353},
        {x: 456, y: 355},
        {x: 441, y: 367},
        {x: 457, y: 369},
        {x: 475, y: 368},
        {x: 585, y: 495},
        {x: 562, y: 476},
        {x: 541, y: 464},
        {x: 527, y: 468},
        {x: 511, y: 465},
        {x: 492, y: 480},
        {x: 471, y: 496},
        {x: 496, y: 500},
        {x: 513, y: 500},
        {x: 529, y: 500},
        {x: 543, y: 499},
        {x: 563, y: 498},
        {x: 576, y: 493},
        {x: 540, y: 480},
        {x: 527, y: 481},
        {x: 512, y: 481},
        {x: 480, y: 493},
        {x: 514, y: 482},
        {x: 526, y: 481},
        {x: 541, y: 482}
      ],
    };
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
  methods: {
    renderAvatar(pts) {
      this.regionColoring = this.data;

      function pathFromArray(ctx, t) {
        ctx.moveTo(pts[t[0]].x, pts[t[0]].y);
        for (let n = 1; n < t.length; n++) {
          ctx.lineTo(pts[t[n]].x, pts[t[n]].y);
        }
        ctx.lineTo(pts[t[0]].x, pts[t[0]].y);
      }

      let maxRegions = this.regionColoring.length;

      for (let i = 1; i < maxRegions; i++) {
        let regionColoring = this.regionColoring[i];

        this.vueCanvas.beginPath();
        this.vueCanvas.strokeStyle = regionColoring[2];

        // Create paths of triangles
        Regions[regionColoring[0]].triang.forEach((t) =>
            pathFromArray(this.vueCanvas, t)
        );

        // Fill & stroke
        this.vueCanvas.fillStyle = regionColoring[1];
        this.vueCanvas.fill();
        this.vueCanvas.stroke();

        // Dots only at perimeter
        const _radius = 2;
        Regions[regionColoring[0]].dots.forEach((t) => {
          this.vueCanvas.beginPath();
          this.vueCanvas.arc(pts[t].x, pts[t].y, _radius, 0, 2 * Math.PI);
          this.vueCanvas.fillStyle = regionColoring[3];
          this.vueCanvas.fill();
        });
      }
    },
  },
  mounted() {
    var canvas = this.$refs.avatarCanvas;
    var ctx = canvas.getContext("2d");
    this.vueCanvas = ctx;
    this.renderAvatar(this.points);
  },
};
</script>

<style lang="scss" scoped>
.canvas_container{
  height: 140px;
  width: 120px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.canvas-avatar {
  height: 300px;
  margin: -80px auto auto -116px;
}
</style>
