<template>
    <div>
        <h3 class="animate__animated animate__bounce">{{ data.msg }}</h3>

        <div>
            {{ counter }}
            <button @click="clickIt">inc</button>
        </div>
        <div class="composer">
            <label for="room-name">Room name</label>
            <input
                id="room-name"
                type="text"
                v-model="data.formData.roomName"
                placeholder="Enter your room name"
                v-on:keyup.enter="makeRoom"
            />
            <p>Message is: {{ data.formData.roomName }}</p>
            <div class="error-list" v-if="data.errorList.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="(error, index) in data.errorList" :key="index">
                        {{ error }}
                    </li>
                </ul>
            </div>
            <button @click="makeRoom">Submit</button>
        </div>

        <div class="rooms">
            <div class="rooms__controls">
                <label for="roomListSort">Descending </label>
                <input
                    id="roomListSort"
                    checked
                    type="checkbox"
                    @click="sortRoom"
                />
            </div>
            <div class="rooms__list">
                <transition-group name="room">
                    <Room
                        v-for="(room, index) in allRooms"
                        :key="room._id"
                        :roomData="room"
                        :roomIndex="index"
                        @deleteRoom="removeRoom"
                    />
                </transition-group>
            </div>
        </div>
    </div>
</template>

<script>
//useGetters

import { reactive, computed } from 'vue'
import { useStore } from 'vuex'
import Room from '@/components/Room.vue'

export default {
    name: 'RoomListComp',
    components: {
        Room,
    },
    props: {
        msg: {
            type: String,
            default: 'props',
        },
    },
    setup(props) {
        console.log('props ', props.msg)
        let data = reactive({
            msg: props.msg,
            descending: true,
            errorList: [],
            formData: {
                roomName: '',
            },
        })

        const store = useStore()
        console.log('store ', store)

        const roomNameFormatted = computed(() =>
            data.formData.roomName.toLowerCase().replaceAll(' ', '-')
        )

        const counter = computed(() => store.state.counter)
        console.log('counter ', counter)
        function clickIt() {
            store.dispatch('incrementCounter', 1)
            console.log(store.dispatch('fetchRooms'))
        }

        // Fetch form API
        store.dispatch('fetchRooms', data.descending)
        const allRooms = computed(() => store.getters.allRooms)

        function sortRoom() {
            data.descending = !data.descending
            store.dispatch('fetchRooms', data.descending)
        }
        function removeRoom(id) {
            store.dispatch('deleteRoom', id)
        }

        function checkForm() {
            if (data.formData.roomName) {
                data.errorList = []
                console.log('roomNameFormatted ', roomNameFormatted.value)
                const curIds = allRooms.value.map((room) => room._id)
                if (curIds.includes(roomNameFormatted.value)) {
                    data.errorList.push(
                        `This name (${data.formData.roomName}) all ready taken.`
                    )
                } else {
                    return true
                }
            }

            if (!data.formData.roomName) {
                data.errorList.push('Room name required.')
            }
        }

        function makeRoom() {
            if (checkForm()) {
                let payload = {}
                payload['_id'] = roomNameFormatted.value
                payload['title'] = data.formData.roomName
                payload['mods'] = [
                    'Rtc',
                    'Animate',
                    'MaskEditor',
                    'PlaySounds',
                    'RoomTitle',
                    'HelpText',
                    'Map',
                ]
                payload['doors'] = ['', '', '', '']

                store.dispatch('createRoom', payload)
                //this.createRoom(payload)
                data.formData.roomName = ''
            }
        }

        return {
            counter,
            roomNameFormatted,
            removeRoom,
            allRooms,
            data,
            sortRoom,
            makeRoom,
            clickIt,
        }
    },
}
</script>

<style lang="scss" scoped>
.rooms__list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.room-leave-to {
    //transform: scale(0);
}

.room-enter {
    transform: translate(30%);
}

.room-leave-to {
    transform: scale(0); /* Equal to scaleX(0.7) scaleY(0.7) */
}

.room-enter-active,
.room-leave-active {
    //transition: all 0.4s;
}

.room-move {
    transition: all 0.25s;
    transform: scale(1);
}

.container {
    background: $primaryColor;
}
</style>
