<template>
    <div class="room">
        <h3>{{ roomData.title }}</h3>
        <button @click="removeRoom(roomData._id, roomData.title)">
            delete
        </button>


      <div v-for="(user, index) in roomData.users" :key="index">
        <div><strong>User:</strong> {{user.uid}}</div>
        <h3>First seen:</h3>
        <p>
          {{ getHumanDate(user.firstSeen) }}
          <br />
          {{ getHumanTime(user.firstSeen) }}
        </p>
        <h3>Last seen:</h3>
        <p>
          {{ getHumanDate(user.lastSeen) }}
          <br />
          {{ getHumanTime(user.lastSeen) }}
        </p>
<!--        <compAvatar v-if="user.meta" :data="user.meta" />-->
      </div>

      <p>{{ roomData.users }}</p>
      <hr>
        <div>
            <code>{{ roomData }}</code>
        </div>
    </div>
</template>

<script>
import moment from "moment";
//import compAvatar from "./Avatar";

export default {
    name: 'Room',
    components: {
      /*compAvatar,*/
    },
    props: {
        roomData: {
            type: Object,
            required: true,
        },
        roomIndex: {
            type: Number,
            required: true,
        },
    },
    methods: {
        removeRoom(id, title) {
            if (confirm(`Are you sure to remove ${title} permanently? `)) {
                this.$emit('deleteRoom', id)
            }
        },

        getHumanDate: function(timestamp) {
          return moment(new Date(timestamp)).format("dddd MMMM Do YYYY");
        },
        getHumanTime: function(timestamp) {
          return moment(new Date(timestamp)).format("HH:mm:ss ");
        },

    },
}
</script>

<style scoped>
.room {
    border: 1px solid pink;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    background: white;
}
</style>
