// main: ../main.scss
/*===================
create
===================*/

body.create {

  // @include mobile-smll {
  //   font-size: $base-font-size * .7;
  //   line-height: $base-line-height * .7;
  // }

}

body.create .nightmode,
body.thank-you .nightmode {
  display: none;
}
body.create,
body.thank-you {
  background: $bgLightGrey;
}

.create_wrapper {
  // background: $bgLightGrey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // padding: 32px;
  // overflow: scroll;
  // height: 100vh;
  // scroll-snap-type: y mandatory;
  // -webkit-overflow-scrolling: touch; /* Important for iOS devices */

  .create_inner {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;


    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 32px;
      padding-bottom: 32px;
    }


  }

  .create_intro {
    // height: calc(100vh - 64px);
    // height: calc((var(--vh, 1vh) * 100) - 64px);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 16vh;
    padding-bottom: 16vh;
    line-height: $xl;
    text-align: center;
    width: calc(100% - 8px);
    margin: 0 auto;


    @include tablet {
      width: calc(100% - 32px);
    }


    .create_image {
      text-align: center;

      img {
        width: 20%;
      }
    }

    .create_text {

      @include tablet {
        padding-left: 12vw;
        padding-right: 12vw;
      }

    }

  }

  button.create_start,
  .InputfieldForm button {
    width: calc(100% - 30vw);
    margin: 0 auto;
    margin-left: calc((100% - 30vw) / 4);
    color: $wealgoWhite;
    background-color: $wealgoBlue;
    opacity: .8;
    border: none;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      opacity: 1;
    }
  }

  // override PW forms styles
  .FormBuilder, .InputfieldForm, .InputfieldForm input, .InputfieldForm textarea, .InputfieldForm select, .InputfieldForm button, .ui-widget {
    font-family: "Helvetica Neue", helvetica , Arial, sans-serif;
  }


  p.description {
    font-size: $l;
    margin-bottom: 12px;
    line-height: $m;
  }

  .Inputfield .notes, .Inputfield .description {
    opacity: 1;
  }

  .InputfieldForm {
    margin: 0;
  }

  .Inputfield {
    scroll-snap-align: center;
    min-height: 100%;
    height: 100%;
  }

  //hide labels
  label.InputfieldHeader {
    font-weight: 300;
    font-size: $l;
    padding-bottom: 12px;
    color: $bgDarkGrey;
  }

  input[type='text'] {
    background: $bgLightGrey;
    border-bottom: 1px solid $wealgoBlue;
    color: $bgDarkGrey;

    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $wealgoBlueAlpha;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $wealgoBlueAlpha;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $wealgoBlueAlpha;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $wealgoBlueAlpha;
    }

  }

  svg {
    vertical-align: middle;
  }

  svg path {
    fill: $wealgoBlue;
  }


  // height of single inputField aka question
  .input__container {
    height: calc(100vh - 64px);
    height: calc((var(--vh, 1vh) * 100) - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  // hide next button by default
  .input__next {
    visibility: hidden;
    opacity: 0;
    transition: all .1s;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    .input__ok {
      width: 80px;
      height: 48px;
      margin-top: 12px;
      color: $wealgoWhite;
      background-color: $wealgoBlue;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: .8;
      transition: all .2s;

      &:hover {
        opacity: 1;
      }

    }

    .input__enter {
      display: inline-block;
      margin-left: 12px;
    }


  }


// last input field is submit button, vertical align top
  // .Inputfield_create_submit .input__container {
  //   justify-content: start;
  // }

  // sucessfully submitted
  p.success {
    text-align: center;
    height: 100vh;
    padding-top: 40vh;
  }

}


.created {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
