// main: ../main.scss
/*===================
HOME
===================*/

body.home .main {
  margin-top: 100vh;
}

.new_hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.enter-video {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  @include tablet {
    // bottom: 5vh;
  }

  .enter-video__dark {
    width: 100%;
    margin: 0 auto;
  }
  .enter-video__light {
    width: 60%;
    margin: 0 auto;

    @include tablet {
      width: 40%;
    }

  }
}

.enter_wrapper {
  width: calc(100vw - 64px);
  max-width: 520px;
  position: absolute;
  top: 80px;
  left: 32px;
  height: calc(100vh - 184px);
  height: calc((var(--vh, 1vh) * 100) - 184px );
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include tablet {
    width: 100%;
    left: calc((100vw - 520px) / 2 );
  }

  h2 {
    // font-weight: 700;
  }
}

.cat_text {
  padding-bottom: 16px;
}

.enter {
  position: absolute;
  bottom: 56px;
  width: calc(100% - 32px);
  left: 16px;
  max-width: 520px;

  @include tablet {
    left: calc((100vw - 520px) / 2 );
  }

}

.permission-text {
  position: absolute;
  bottom: 24px;
}

// new button class
.nbtn {
  color: $bgLightGrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  background-color: $wealgoRed;
}

.overlay { // generic button/icon overlay for hover
  opacity: .70;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.scroll-down {
  width: 100%;
  position: absolute;
  bottom: 18px;
  display: flex;
  justify-content: center;

  &__arrow {
    background-image: url('/site/assets/logos/scroll-down.svg');
    background-repeat: no-repeat;
    width: 42px;
    height: 24px;
    background-position: center;
  }
}

// below is pre v2


.hero_image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  // max-height: 620px;
  width: 100vw;
  margin-left: -32px;

  @include desktop {
    margin-left: calc(-1 * (100vw - 880px) / 2);
  }

}

.device__wrapper {
  position: relative;
  margin-top: -40vw;

  @include desktop-hd {
    margin-top: -35vw;
  }

}

.device {
  padding: 10px 3px;
  border-radius: 6px;
  background-color: var(--bg-color-inv);
  border: solid 1px black;
  width: 56vw;

    @include desktop-hd {
      width: 40vw;
    }

  &:last-of-type {
    position: absolute;
    bottom: -1rem;
    right: 0rem;
    width: 30vw;

    @include desktop-hd {
      width: 22vw;
    }

  }

  img {
    // border-radius: 2px;
    width: 100%;
    // border: solid 1px rgba(120, 120, 120, 0.2);
  }

}

.window {
  position: relative;
  text-align: right;

  video, img {
    max-width: 100%;
    padding-top: 33px;
    background-color: var(--bg-color-inv);
    border: solid 1px black;
    border-radius: 11px 11px 0 0;
  }
  video:focus {
    outline: none;
  }

  .chrome {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 0;

    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $wealgoBlue;
      display: inline-block;
      margin-right: 6px;
    }

  }

}
