// main: ../main.scss
/*===================
BASE
===================*/
html {
  // background: #161625;
  // background: var(--bg-color);
}
body {

  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.036rem;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  background-color: #161625;
  background-color: var(--bg-color);
  color: $wealgoBlue;
  font-size: $base-font-size;
  line-height: $base-line-height;

  &:not(.loaded) {
    display: none;
  }

}

h1, h2, h3, h4, h5, p {
  font-weight: 200;
}

h1 {
  font-size: $xl;
}
h2 {
  font-size: $l;
}
p {
  font-size: $m;
}
a {
  color: var(--v2-body-colors);
  text-decoration: none;
}
a:hover {
  color: $wealgoBlue;
  // text-decoration: underline;
}
img {
  max-width: 100%;
}

// wrappers, overrides where.wealgo.org
.page-wrapper {
  height: auto;
}
.wrapper_inner {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: $header-height;

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    max-width: 880px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

}

// section a {
//   box-shadow: 0 1px 0 $wealgoBlue;
//   padding: 0px;
//   text-decoration: none;
//
//   &:hover {
//     text-decoration: none;
//   }
// }

section a.button {
  box-shadow: none;
}


.columns {

  @include tablet {
    // display: flex;
    // align-items: end;
    // flex-direction: row;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: calc(60% - 32px) calc(40% - 32px);
    column-gap: 64px;
    align-items: end;

    & > div {
      // flex: 1;
      // width: 46%;
    }

    &:nth-of-type(even) {
      // flex-direction: row;
    }
  }
}


@media ( max-width: $breakpoint-xs ) { // iphone 5/se
    // body {
    //   font-size: $m * .7 !important;
    // }
    // .xxl {
    //   font-size: $xxl * .82 !important;
    // }
    // .xl {
    //   font-size: $xl * .9 !important;
    // }
    // .l {
    //   font-size: $l * .76 !important;
    // }
    // .m {
    //   font-size: $m * .8 !important;
    // }
    // .smll {
    //   font-size: $smll * .9 !important;
    // }
    // .xs {
    //   font-size: $xs * .8 !important;
    // }
}

@media ( min-width: 375px ) { // iphone 6/7/8
    // h1, .xl {
    //   font-size: $xl * .82;
    // }
    // body {
    //   font-size: $m * .7;
    // }
    // h2, .l {
    //   font-size: $l * .8;
    // }
    // p, .m {
    //   font-size: $m * .7;
    // }
}


@media ( min-width: 984px ) { // 920px + 4rem
  // @media only screen and (min-width: 600px){
  //     h1, .xl {
  //       font-size: $xl * 1;
  //     }
  //     body {
  //       font-size: $m * 1;
  //     }
  //     h2, .l {
  //       font-size: $l * 1;
  //     }
  //     p, .m {
  //       font-size: $m * 1;
  //     }
  // }
}

@media ( min-width: 1280px ) {

}
