// main: ../main.scss
/*===================
BUTTONS
===================*/

// SFG
button {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.036rem;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-size: $m;
  width: 100%;
  min-width: 64px;
  margin: 0 auto;
  background-color: transparent;
  outline: 1px solid $wealgoBlue;
  outline-offset: -4px;
  color: $wealgoBlue;
  display: inline-block;
  border: none;
  height: 48px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background-color: $wealgoBlueAlpha;
  outline: none;
}

button:focus {
    outline: 1px solid $wealgoBlue;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

button.black {
  // background: var(--bg-button-go);
  color: $bgLightGrey;

  &:hover {
    background: $bgDarkGreyAlpha;
    color: $wealgoBlue;
  }

}
button.alpha {
  background: $wealgoBlueAlpha;
  color: $bgDarkGrey;
}
