// main: ../main.scss
/*===================
FONTS
===================*/

@font-face {
  font-family: 'OpenSans-regular';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
     url('./fonts/OpenSans-Regular.woff') format('woff'),
     url('./fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-light';
  src: url('./fonts/OpenSans-Light.woff2') format('woff2'),
     url('./fonts/OpenSans-Light.woff') format('woff'),
     url('./fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Material Icons';
  src: url('./fonts/MaterialIcons-Regular.woff2') format('woff2'),
     url('./fonts/MaterialIcons-Regular.woff') format('woff'),
     url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Font Awesome';
//   src: url('./fonts/font-awesome/webfonts/fa-regular-400.woff2') format('woff2'),
//      url('./fonts/font-awesome/webfonts/fa-regular-400.woff') format('woff'),
//      url('./fonts/font-awesome/webfonts/fa-regular-400.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
