// main: ../main.scss
/*===================
NIGHT MODE
===================*/

:root {
}
[data-theme="dark"] {
   --bg-color: #{$bgDarkGrey};
   --bg-color-inv: #{$bgLightGrey};
   --bg-color-rgba: #{$bgDarkGreyAlpha};
   --bg-buttons: #{$wealgoBlueAlpha};
   --bg-buttons-active: #{$bgDarkGreyAlpha};
   --bg-buttons-hover: #{$bgDarkGreyAlpha};
   --bg-buttons-hover-text: #{$wealgoBlue};
   --bg-room-functions: #{$wealgoBlue};
   --bg-button-go: #{$wealgoBlueLowLight};
   --v2-body-colors: #{$bgLightGrey};
   --divider: #{$wealgoNightBlue};
}

[data-theme="light"] {
  // night mode
   --bg-color: #{$bgLightGrey};
   --bg-color-inv: #{$bgDarkGrey};
   --bg-color-rgba: #{$bgLightGreyAlpha};
   --bg-buttons: #{$wealgoBlueAlpha};
   --bg-buttons-hover: #{$bgLightGrey};
   --bg-buttons-hover-text: #{$wealgoBlue};
   --bg-buttons-active: #{$bgLightGrey};
   --bg-room-functions: #{$color-white};
   --bg-button-go: #{$color-white};
   --v2-body-colors: #{$wealgoBlueLowLight};
   --divider: #{$wealgoNightWhite};
}



// switch night Mode
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  height: 22px;
  position: relative;
  width: 32px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: $wealgoBlueAlpha;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s;
}

.slider:before {
  background-color: $bgDarkGrey;
  bottom: 2px;
  content: "";
  height: 18px;
  left: 2px;
  position: absolute;
  transition: .2s;
  width: 18px;
}

input:checked + .slider {
  background-color: $wealgoBlue;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}
