// main: ../main.scss
/*===================
INLINE STYLERS
===================*/

// font
.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.caption {
  width: 100%;
  font-size: $smll;
  padding-top: 2rem;
}

// font sizes
.xs {
  font-size: $xs;
}
.smll {
  font-size: $smll;
}
.m {
  font-size: $m;
}
.mplus {
  font-size: $mplus;
}
.l {
  font-size: $l;
}
.xl {
  font-size: $xl;
}
.xxl {
  font-size: $xxl;
}

// padding & margin
.m-top {
  margin-top: 2rem;
}

.m-top-l {
  margin-top: 4rem;
}

.m-top-xl {
  margin-top: 8rem;
}

.b-top {
  border-top: 1px solid $wealgoBlue;
}

.b-bottom {
  border-bottom: 1px solid $wealgoBlue;
}

.p-top-smll {
  padding-top: 1rem;
}
.p-top {
  padding-top: 2rem;
}

.p-top-l {
  padding-top: 4rem;
}

.p-top-xl {
  padding-top: 10rem;
}

.p-bottom-smll {
  padding-bottom: 1rem;
}
.p-bottom {
  padding-bottom: 2rem;
}

.p-bottom-xl {
  padding-bottom: 10rem;
}


// scheduled presentations
.m-width {
  max-width: 520px;
}
hr.divider {
  border: none;
  height: 1px;
  color: #333; /* old IE */
  background-color: var(--divider);
  margin: 1rem 0;
}
// hr.divider:last-of-type {
//   height: 0px;
// }


// display
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}

// quote
.oscar {
  font-size: 1rem;
}

// colors
.red {
  color: $red;
}
