<template>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <compRoomList :data="wsData" />
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import compRoomList from "./components/RoomList";

export default {
  data() {
    return {
      wsData: {},
      //roomData: [],
    };
  },
  components: {
    compRoomList,
  },

  created() {
    // Connect
    let ws = new WebSocket("wss://where.wealgo.org/signalling/foo");

    // Returns stats response. Note that this will include us in room foo
    // as we are connected
    ws.onmessage = (ev) => {
      //console.log("d", ev.data);

      let data = JSON.parse(ev.data);

      console.log(data);

      if (data.command !== "stats") {
        return;
      } else {
        //store_and_render(data.stats);
        this.wsData = data.rooms;
        console.log(" wsData: ", this.wsData);
        ws.close();
      }
    };

    // Stats request on open
    ws.onopen = () => {
      ws.send(JSON.stringify({ command: "stats" }));
    };

    // call to restAPI
    // localhost:8080/api/stats
  },
};
</script>
