// portals

.portal-wrapper {
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 background-color: #161625;
 background-color: var(--bg-color);

 // SFG: trying background gradient
 // background: #072625; /* Old browsers */
 // background: -moz-linear-gradient(top,  #072625 0%, #bf4024 37%, #d69122 51%, #1e2638 100%); /* FF3.6-15 */
 // background: -webkit-linear-gradient(top,  #072625 0%,#bf4024 37%,#d69122 51%,#1e2638 100%); /* Chrome10-25,Safari5.1-6 */
 // background: linear-gradient(to bottom,  #072625 0%,#bf4024 37%,#d69122 51%,#1e2638 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.portal-container {
  position: relative;
  width: 400px;
	height: 400px;
  background-color: #161625;
  background-color: var(--bg-color);
  display: none; // temp removed
}
.portal-outer {
	width: 100%;
	height: 100%;
	background-color: $wealgoBlue;
	opacity: 1;
	position: absolute;
	border-radius: 50%;
	-webkit-filter: blur(32px);
	        filter: blur(32px);
	transform: scale(.8);
	-webkit-animation-duration: 30s;
	        animation-duration: 30s;
  -webkit-animation-name: outerFade;
          animation-name: outerFade;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.portal-outer:hover {
	-webkit-filter: blur(22px);
	        filter: blur(22px);
}

@-webkit-keyframes outerFade {
  0% {
    opacity: 0;
  }
	5% {
		opacity: 0;
	}
	6% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}
	81% {
		opacity: 0;
	}

  100% {
		opacity: 0;
  }
}

@keyframes outerFade {
  0% {
    opacity: 0;
  }
	5% {
		opacity: 0;
	}
	6% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}
	81% {
		opacity: 0;
	}

  100% {
		opacity: 0;
  }
}


.portal-inner {
	position: absolute;
	width: 50%;
	height: 50%;
	margin: auto; /* center center */
	top: 0; left: 0; bottom: 0; right: 0; /* center center */
	opacity: 1;
  background-color: #161625;
  background-color: var(--bg-color);
	border-radius: 50%;
	border: 2px solid #0af;
	-webkit-filter: blur(1px);
	        filter: blur(1px);
	transform: scale(.94);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: portalAnimation;
          animation-name: portalAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


@-webkit-keyframes portalAnimation {
  0% {
    width: 50%;
		height: 50%;
		opacity: 0;
  }
	5% {
		opacity: 1;
	}
	6% {
    width: 50%;
		height: 50%;
		opacity: 1;
  }
	80% {
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	81% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}

  100% {
		width: 100%;
		height: 100%;
		opacity: 0;
  }
}


@keyframes portalAnimation {
  0% {
    width: 50%;
		height: 50%;
		opacity: 0;
  }
	5% {
		opacity: 1;
	}
	6% {
    width: 50%;
		height: 50%;
		opacity: 1;
  }
	80% {
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	81% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}

  100% {
		width: 100%;
		height: 100%;
		opacity: 0;
  }
}
