// rain
#canvasRain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

button.snow {
  position: absolute;
  bottom: 16px;
  height: 48px;
  width: 48px;
  right: 24px;
  z-index: 1;
}
