// // responsive typography
// html {
//   font-size: 62.5% !important;
// }
//
// body {
//   font-size: 1.6rem;
//   line-height: $line-height;
//   font-family: $font-main;
//   font-weight: $fw-light;
//
//   // v2 font stylo
//   // font-family: "Helvetica Neue", helvetica, sans-serif;
//   // font-weight: 300;
//   // letter-spacing: 0.036rem;
//   // -webkit-font-smoothing: antialiased !important;
//   // -moz-osx-font-smoothing: grayscale;
//
// }
//
// h1,
// h2,
// h3,
// h4,
// h5,
// .h1,
// .h2,
// .h3,
// .h4,
// .h5 {
//   font-family: $header-font-family;
//   color: $wealgoBlue;
//   text-align: left;
//   font-weight: $fw-light;
// }
//
// p,
// .p {
//   font-family: $body-font-family;
//   font-size: map-get($font-sizes, p);
//   line-height: map-get($line-heights, p);
//   color: $wealgoBlue;
//   @include vr-rhythm("margin-bottom", 3);
//
//   .txt-light & {
//     color: $color-white;
//   }
//
//   &.large {
//     font-size: map-get($font-sizes, plarge);
//     line-height: map-get($line-heights, plarge);
//   }
//
//   &.xl {
//     font-size: map-get($font-sizes, h3);
//     line-height: map-get($line-heights, h1);
//   }
//
//   &.small,
//   small &,
//   small {
//     font-size: map-get($font-sizes, psmall);
//     line-height: map-get($line-heights, psmall);
//   }
//   &:last-child {
//     margin-bottom: 0;
//   }
//
//   @media screen and (min-width: $breakpoint-lg) {
//     font-size: map-get($font-sizes-lg, p);
//     line-height: map-get($line-heights-lg, p);
//   }
// }
//
// h1,
// .h1 {
//   font-size: map-get($font-sizes, h1);
//   line-height: map-get($line-heights, h1);
//   overflow-wrap: break-word;
//   word-break: break-word;
//   margin: 0;
//
//   @media screen and (min-width: $breakpoint-lg) {
//     font-size: map-get($font-sizes-lg, h1);
//     line-height: map-get($line-heights-lg, h1);
//   }
// }
//
// h2,
// .h2 {
//   font-size: map-get($font-sizes, h2);
//   line-height: map-get($line-heights, h2);
//   @include vr-rhythm("margin-bottom", 2);
//
//   &:first-child {
//     margin-top: 0;
//   }
//
//   &:last-child {
//     margin-bottom: 0;
//   }
//
//   &:only-child {
//     @include vr-rhythm("margin-bottom", 2);
//   }
//
//   @media screen and (min-width: $breakpoint-lg) {
//     font-size: map-get($font-sizes-lg, h2);
//     line-height: map-get($line-heights-lg, h2);
//   }
// }
//
// h3,
// .h3 {
//   font-size: map-get($font-sizes, h3);
//   line-height: map-get($line-heights, h3);
//   @include vr-rhythm("margin-bottom", 2);
//
//   &:first-child {
//     margin-top: 0;
//   }
//
//   &:last-child {
//     margin-bottom: 0;
//   }
//
//   &:only-child {
//     @include vr-rhythm("margin-bottom", 2);
//   }
//   @media screen and (min-width: $breakpoint-lg) {
//     font-size: map-get($font-sizes-lg, h3);
//     line-height: map-get($line-heights-lg, h3);
//   }
// }
//
// h4,
// .h4 {
//   font-size: map-get($font-sizes, h4);
//   line-height: map-get($line-heights, h4);
//   @include vr-rhythm("margin-bottom", 2);
//
//   &:last-child {
//     margin-bottom: 0;
//   }
//
//   &:only-child {
//     @include vr-rhythm("margin-bottom", 2);
//   }
//   @media screen and (min-width: $breakpoint-lg) {
//     font-size: map-get($font-sizes-lg, h4);
//     line-height: map-get($line-heights-lg, h4);
//   }
// }
//
// h5,
// .h5 {
//   font-size: map-get($font-sizes, h5);
//   line-height: map-get($line-heights, h5);
//   @include vr-rhythm("margin-bottom", 2);
//
//   @media screen and (min-width: $breakpoint-lg) {
//     font-size: map-get($font-sizes-lg, h5);
//     line-height: map-get($line-heights-lg, h5);
//   }
//
//   &:last-child {
//     @include vr-rhythm("margin-bottom", 0);
//   }
//
//   &:only-child {
//     @include vr-rhythm("margin-bottom", 2);
//   }
// }
//
// a {
//   // color: $color-primary !important;
//   color: $color-primary;
//   cursor: pointer;
//   text-decoration: none;
//
//   &:hover {
//     //color: $color-primary;
//     text-decoration: underline;
//   }
//
//   @include hocus {
//     outline: none;
//   }
// }
//
//
// // SFG: stylers
// .underline {
//   text-decoration: underline;
//
//   &:hover {
//     text-decoration: none;
//   }
// }
// .center {
//   text-align: center;
// }
