.chat-container {
  position: fixed;
  top: 76px;
  left: 0;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  height: calc(100vh - 124px);
  height: calc((var(--vh, 1vh) * 100) - 124px); // 76top + 48bottom
  list-style: none;
  transition: all .2s;
  z-index: 5;


  @include tablet {
    bottom: 0;
    right: 0;
    width: 40vw;
    padding-bottom: 16px;
    height: calc(100vh - 76px);
    height: calc((var(--vh, 1vh) * 100) - 76px);
  }



  .chat-inner {
    position: relative;
    width: 100%;
    height: 100%;


    .languageSwitch {
      position: absolute;
      bottom: 48px;
      height: 32px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .inputLanguage {
        font-size: map-get($font-sizes, p);

        .hide {
          display: none;
        }

      }

        span {
          margin-left: 6px;
          font-size: map-get($font-sizes, plarge);
        }

        input {
          display: none;
        }

        label {
          cursor: pointer;
          color: $wealgoBlueAlpha;
        }

        input:checked + label {
          font-weight: bold;
          color: $wealgoBlue;
        }
    }

    ul#chat {
      overflow: auto;
      max-height: calc(100% - 48px);
      position: absolute;
      bottom: 48px; // input height (48)
      width: 100%;

      // @include tablet {
      //   // max-height: calc(100% - 50px);
      //   bottom: 48px; // input height 48px
      // }

    }

    ul#chat li {
      text-align: left;
      display: grid;
      grid-template-columns: 60px 1fr;
      align-items: center;
      margin-bottom: 6px;

      p {
        text-align: left;
        font-family: monospace;
        font-size: map-get($font-sizes, pxlarge);
      }

    }


    .chat-form {
      position: absolute;
      bottom: 0;
      width: 100%;

      @include tablet {
        bottom: 0;
      }


      .chat-message {
        // background: $bgDarkGreyAlpha;
        background: $wealgoBlueAlpha;
        text-align: left;
        font-size: map-get($font-sizes, pxlarge);
        color: $bgLightGrey;
        padding: 12px;
        font-family: monospace;
        height: 48px;

        &:focus {
          border: 1px solid $wealgoBlue;
          outline: none;
        }

        &.error {
          color: $wealgoRed;
        }

      }

      .send-button {
        align-self: flex-end;
      }

    }

  }

} // chat-container
