// main: ../main.scss
/*===================
MEDIAQUERIES
===================*/
@mixin mobile-smll {
  @media ( max-width: $breakpoint-xs ) { // <375px iphone 5/se
    @content;
  }
}

@mixin mobile {
  @media ( min-width: $breakpoint-xs ) { // >375px iphone 6/7/8
    @content;
  }
}

@mixin small {
  @media ( min-width: $breakpoint-sm ) { // 520px small screens
    @content;
  }
}

@mixin tablet {
  @media ( min-width: $breakpoint-md ) { // 768px ipad
    @content;
  }
}

@mixin desktop {
  @media ( min-width: $breakpoint-lg ) { // 1024px
    @content;
  }
}

@mixin desktop-hd {
  @media ( min-width: $breakpoint-xl ) { // 1280px
    @content;
  }
}
