// main: ../main.scss
/*===================
FADE INS
===================*/

#home {
  transition: .4s;
  opacity: 0;
}
#home.animate {
  opacity: 1;
}

// .animate {
//   -webkit-animation-duration: .2s;
//   animation-duration: .2s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
//   left: 0;
// }

/*==== FADE IN RIGHT ===*/
// @-webkit-keyframes fadeInRight {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }
//
//   to {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }
// @keyframes fadeInRight {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }
//
//   to {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }
//
// .fadeInRight {
//   -webkit-animation-name: fadeInRight;
//   animation-name: fadeInRight;
// }
