.xmas_night {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: url('../images/xmas_night.jpg');
  background-repeat: no-repeat;
  background-size: cover;


  .imageCredit {
    font-size: map-get($font-sizes, xs);
    color: $wealgoBlue;
    position: absolute;
    bottom: 6px;
    right: 22px;

    a {
      text-decoration: underline;
    }

  }


}
