<template>
  <div>
    <h1>Admin</h1>
    <v-btn @click="number++">{{ number }}</v-btn>
  </div>
</template>

<script>
export default {
  name: "compheader",
  data() {
    return {
      number: 1,
    };
  },
};
</script>
