<template>
  <div>
    <h1 class="room_list_name">Rooms ({{ roomKeys.length }})</h1>
    <div class="room__container" v-for="(rKey, index) in roomKeys" :key="index">
      <compRoom :roomName="rKey" :roomData="data" />
    </div>
  </div>
</template>

<script>
import compRoom from "./Room";
export default {
  name: "RoomList",
  data() {
    return {};
  },
  components: {
    compRoom,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  methods: {},
  computed: {
    roomKeys() {
      return Object.keys(this.data);
    },
  },
};
</script>

<style lang="scss" scoped>
.room_list_name {
  padding: 10px 0;
}
.room__container:nth-child(even) {
  background: #f4f4f4;
}
.room__container:nth-child(odd) {
  background: #ccc;
}
</style>
