<template>
  <div>
    <h2 class="room_name">
      {{ roomName }} ({{ roomData[roomName].length }})
    </h2>
    <div v-if="roomData[roomName].length > 0" class="card__container">
      <div v-for="(dataKey, index) in roomData[roomName]" :key="index">
        <v-card class="ma-2 card-user" max-width="344" outlined>
          <v-list-item three-line>
            <div>
              <div class="overline mb-0">User: {{ dataKey.uid }}</div>
              <compAvatar v-if="dataKey.meta" :data="dataKey.meta" />
            </div>
            <v-list-item-content>
              <v-list-item-title class="mb-1">First seen: </v-list-item-title>
              <v-list-item-subtitle>
                <p>
                  {{ getHumanDate(dataKey.firstSeen) }}
                  <br />
                  {{ getHumanTime(dataKey.firstSeen) }}
                </p>
              </v-list-item-subtitle>
              <br />
              <v-list-item-title class="mb-1">Last seen: </v-list-item-title>
              <v-list-item-subtitle>
                <p>
                  {{ getHumanDate(dataKey.lastSeen) }}
                  <br />
                  {{ getHumanTime(dataKey.lastSeen) }}
                </p>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </div>
    </div>
    <div class="card__container__empty" v-else>
      <i>empty</i>
    </div>
    <!-- <div v-for="(dataKey, index) in dataKeys" :key="index">
      <div>key: {{ dataKey }}</div>
      <div v-if="dataKey === 'firstSeen' || dataKey === 'lastSeen'">
        value : {{ convertDate(roomDataObj[dataKey]) }}
      </div>

      <div v-else>value : {{ roomDataObj[dataKey] }}</div>
    </div> -->
  </div>
</template>

<script>
import moment from "moment";
import compAvatar from "./Avatar";
export default {
  name: "Room",
  data() {
    return {
      vueCanvas: null,
    };
  },
  components: {
    compAvatar,
  },
  props: {
    roomName: {
      type: String,
      required: true,
    },
    roomData: {
      type: Object,
      required: true,
    },
  },
  methods: {
    getHumanDate: function(timestamp) {
      return moment(new Date(timestamp)).format("dddd MMMM Do YYYY");
    },
    getHumanTime: function(timestamp) {
      return moment(new Date(timestamp)).format("HH:mm:ss ");
    },
  },
  computed: {
    roomDataObj() {
      return this.roomData[this.roomName][0];
    },

    transformData() {},
    dataKeys() {
      return this.roomData[this.roomName].length > 0
        ? Object.keys(this.roomDataObj)
        : [];
    },
  },
};
</script>

<style lang="scss" scoped>
.room_name {
  background: lighten(#fff, 50%);
  padding: 10px 0;
  margin-top: 20px;
}
.v-list-item__content {
  padding: 30px 0 0 10px;
}
.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .card-user {
    margin-right: 0 !important;
  }
}
.card__container__empty {
  padding: 10px;
}
.v-list-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
</style>
